---
name: Unit tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# minimal permissions
permissions:
  contents: read

env:
  CI: true

jobs:
  linux_unit_tests:
    name: Ruby version
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '2.7'
          - '3.0'
          - '3.2'
          - '3.3'
          - 'jruby-9.4.8.0'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout current PR
        uses: actions/checkout@v4

      - name: Rspec checks
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Display bundle environment
        run: |
          bundle env

      - run: bundle exec rake spec_random

  windows_unit_tests:
    name: Windows tests with Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '2.7'
          - '3.2'
    runs-on: windows-2025
    steps:
      - name: Checkout current PR
        uses: actions/checkout@v4

      - name: Rspec checks
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Display bundle environment
        run: |
          bundle env

      - run: bundle exec rake spec_random
